.img-fluid
{
    height: 100%;
    width: 100%;
    padding-top: 20%;
    padding-bottom: 20%;

}
.card {

    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    margin: 20px;
  }
  
#form-intput-id{
    padding: 20px;
    box-sizing: border-box;
}

#icon-input{
   height: 20px;
   width: 20px;
}
 