<html>
<body>
	<div class="container">
		<div class="left">
			<p>Payment methods</p>
			<hr style="border:1px solid #ccc; margin: 0 15px;">
			<div class="methods">
				<div (click)="doFun()" id="tColorA">Payment by Card</div>
				<div (click)="doFunA()" id="tColorB">Internet Bank</div>
				<div (click)="doFunB()" id="tColorC"> Upi Pay</div>
			</div>
			<hr style="border:1px solid #ccc; margin: 0 15px;">
		</div>
		<div class="center" [hidden]="isFun">
			<a><img alt="Credit Card Logos" title="Credit Card Logos" src="https://www.shift4shop.com/images/credit-card-logos/cc-lg-4.png" width="250" height="auto"/></a>
			<hr style="border:1px solid #ccc; margin: 0 15px;">

			<div class="card-details">
				<form>
					<p>Card number</p>
					<div class="c-number" id="c-number">
						<input id="number" class="cc-number" placeholder="Card number" maxlength="16" required>
					</div>

					<div class="c-details">
						<div>
							<p>Expiry date</p>
							<input id="e-date" class="cc-exp" placeholder="MM/YY" required maxlength="5" required>
						</div>
						<div>
							<p>CVV</p>
							<div class="cvv-box" id="cvv-box">
								<input id="cvv" class="cc-cvv" placeholder="CVV" required maxlength="3" required>
								<i class="fa-solid fa-circle-question" title="3 digits on the back of the card" style="cursor: pointer;"></i>
							</div>
						</div>
					</div>
					<div class="email">
						<p>Card Holder's Name</p>
						<input type="text" placeholder="Card Holder's Name" id="hname" required>
					</div>
					<button>PAY NOW</button>
				</form>
			</div>
		</div>

        <!-- Internet Bank -->

        <div class="center" [hidden]="isFunA">
			<a><h2>Internet Banking</h2></a>
			<hr style="border:1px solid #ccc; margin: 0 15px;">

			<div class="card-details">
				<form>
					<p>Select Bank</p>
                    <div class="c-number" id="c-number">
						<!-- <input id="number" class="cc-number" placeholder="Card number" maxlength="16" required> -->
                        <select class="bank-select" required>
                            <option class="bank-option">---- Select Bank ----</option>
                        </select>
					</div>
					<button>PAY NOW</button>
				</form>
			</div>
		</div>     
        
            <!-- upi -->

        <div class="center" [hidden]="isFunB">
			<a><img src="https://th.bing.com/th?id=OSK.e78bf74fe9ad12ed0dcdc7f7fc1d4fc2&w=117&h=82&c=7&o=6&dpr=1.5&pid=SANGAM"></a>
			<hr style="border:1px solid #ccc; margin: 0 15px;">

			<div class="card-details">
				<form>
                    <div class="email">
						<p>Upi Id</p>
						<input type="email" placeholder="exmple@ok.upi" id="hname" required>
					</div>
					<button>PAY NOW</button>
				</form>
			</div>
		</div>


		<div class="right">
			<p>Order information</p>
			<hr style="border:1px solid #ccc; margin: 0 15px;">
			<div class="details">
				<div style="font-weight: bold; padding: 3px 0;">Order discription</div>
				<div style="padding: 3px 0;">Test payment</div>
			</div>
			<hr style="border:1px solid #ccc; margin: 0 15px;">
			<a href="https://www.shift4shop.com/credit-card-logos.html"><img alt="Credit Card Logos" title="Credit Card Logos" src="https://www.shift4shop.com/images/credit-card-logos/cc-lg-4.png" width="100%" height="auto" /></a>
		</div>
		
	</div>
</body>
</html>