  button{
    border: none;
    height: 50px;
    border-radius: 3px;
    margin: 30px;
    font-size: 18px;
    color: #444;
    background-color: greenyellow;
  }
  button:hover{
    background-color: #444;
    color: white;
    cursor: pointer;
  }

 