<img [src]="img1">

<div id="service">
<div class="card">
    <table>
        <tr>
            <td colspan="2"><h1>Up to 60% off | Style for Men</h1></td>
        </tr>
        <tr>
            <td><img class="card-img" [src]="clothing"/><br>Clothing</td>
            <td><img class="card-img" [src]="footwear"/><br>Footwear</td>
        </tr>
        <tr>
            <td><img class="card-img" [src]="watches"/><br>Watches</td>
            <td><img class="card-img" [src]="bags"/><br>Bags & luggage</td>
        </tr>
    </table>
</div>
<div class="card">
    <table>
        <tr>
            <td colspan="2"><h1>Up to 60% off | Style for Women</h1></td>
        </tr>
        <tr>
            <td><img class="card-img" [src]="women_clothing"/><br>Women Clothing</td>
            <td><img class="card-img" [src]="women_footwear"/><br>Footwear + Handbags</td>
        </tr>
        <tr>
            <td><img class="card-img" [src]="women_watches"/><br>Watches</td>
            <td><img class="card-img" [src]="jewellery"/><br>Fashion jewellery
            </td>
        </tr>
    </table>
</div>
</div>