<section class="service">
    <h1 class="h-primary center" style="margin-top:30px;">
        Best Ways to Reach Us
    </h1>
    <div id="service">
        <div class="contact-card">
            <img src="https://th.bing.com/th/id/OIP.J4oHJMlBbAbpnTI4WPsfkwHaHa?w=184&h=184&c=7&r=0&o=5&dpr=1.5&pid=1.7"
               alt="form_image">
            <h2>Location</h2>
            <p class="card-text">
                Fountainhead,Vimane Nagar, Pune, Maharashtra - 11027
            </p>
            <a href="https://www.google.com/maps/place/Fountainhead+-+Tower+2/@18.5613901,73.9141838,17z/data=!3m1!4b1!4m6!3m5!1s0x3bc2c18908539e95:0xbe9d2f2b4f46d6e0!8m2!3d18.561385!4d73.9167641!16s%2Fg%2F11tc8k3rlt?entry=ttu" class="btn btn-primary">Get Direction</a>
        </div>
        <div class="contact-card">
            <img src=
"https://clouddevs.com/3dbay/files/preview/1280x1112/11663147191hdb3bsfnxjvd1lb84afobshwzdsittsvqixbjw72gqklloxogh2ocwopwcn0abcimhkqasth8y8n0f4qp9o2k0aisqdeoiw8y4ys.png"
                 alt="email_image">
            <h2>Email</h2>
            <p class="card-text">
                Send us an email anytime. We usually respond within 24 hours.
            </p>
            <a href="mailto:contact@example.com" class="btn btn-primary">
              Email Us</a>
        </div>
        <div class="contact-card">
            <img src="https://cdn.pixabay.com/photo/2013/07/12/12/58/dial-phone-146639_1280.png"
            alt="phone_image">
            <h2>Toll-Free Number</h2>
            <p class="card-text">
                Reach our support team via our 24/7 toll-free number.
            </p>
            <p class="phone-number">Call: +1800 200 300 400</p>
        </div>
    </div>
</section>